__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
data
trace_3d/
data_cache/
data/


*.nsys-rep
*.nsys-db
*.nsys-pkt
*.nsys-trace
*.nsys
*.qdrep
*.ncu-rep
*.ncu


*.txt


*.o
*.obj
*.so
*.dll
*.exe
*.out
*.pyc
*.pyo
*.pyd
*.a
*.lib
*.log
*.tmp
*.swp
*.swo
*.bak
*.cache
*.egg-info/
__pycache__/
build/
dist/
.cache/
*.prof
*.tracelog/
logs/

*.txt

apex/

memory_plots/
my_comparison_plots/
memory_traces_scaling/
memory_traces/
mg_scheduling_plan_log/
profiler_log/
realistic_trace/
realistic_trace_numba1/
run_log/